.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-radius: 10px;
	z-index: 100;

	.interaction {
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	a {
		font-size: 18px;
	}
}
